<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body class="bg-zinc-400 text-white flex justify-center items-center h-screen w-screen">
<div th:replace="~{layout/layout :: fondo}"></div>
<header th:replace="~{layout/layout :: header}"></header>
<section class="w-screen h-screen flex flex-col justify-center items-center gap-y-4 p-4 text-bg-white pt-32">
  <h1 class="text-3xl font-bold uppercase mb-6">[[${title}]]</h1>
  <div class="overflow-y-scroll w-3/5 m-5 p-8">
    <form th:object="${obraEdit}" th:action="@{/editarObra/{id}(id=${obraEdit.idObra})}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:field="*{idObra}"/>

      <div class="flex flex-col gap-2 text-start">
        <label style="font-size:20px; font-family: serif" class="text-lg font-bold" for="tituloO">Título *:</label>
        <input class="bg-transparent py-1 border-b border-sky-300 focus:border-sky-200 transition-all focus:scale-105 focus:font-normal"
               type="text" name="tituloO" id="tituloO" th:field="*{tituloObra}" required="true"/>
        <small class="text-bg-white">Digite el título de la obra</small>
      </div>
      <!--***************************************************************************--->
      <br>
      <div class="flex flex-col gap-2 text-start">
        <label style="font-size:20px; font-family:Serif"
               class="text-lg font-bold" for="fechaO">Fecha de Creación*:</label>
        <input class="bg-transparent py-1 border-b border-sky-300 focus:border-sky-200
                transition-all focus:scale-105 focus:font-normal" type="date" name="fechaO" id="fechaO"
               th:field="*{fechaCreacion}" required="true"/>
        <small class="text-bg-white">Digite la fecha de creacion</small>
      </div>
      <script>
        const today =new Date().toISOString().split('T')[0];
        document.getElementById("fechaO").setAttribute("max",today)
      </script>
      <!--***************************************************************************--->
      <br>
      <div class="flex flex-col gap-2 text-start">
        <label style="font-size:20px; font-family:Serif"
               class="text-lg font-bold" for="descripcionO">Descripción de la Obra*:</label>
        <input class="bg-transparent py-1 border-b border-sky-300 focus:border-sky-200
                transition-all focus:scale-105 focus:font-normal" type="text" name="descripcionO" id="descripcionO"
               placeholder="1"
               th:field="*{descripcionObra}" required="true"/>
        <small class="text-bg-white">Digite la descripción de la obra</small>
      </div>
      <!--***************************************************************************--->
      <br>
      <div class="flex flex-col gap-2 text-start">
        <label style="font-size:20px; font-family:serif"
               class="text-lg font-bold" for="tecnicaO">Tecnica de la Obra*:</label>
        <input class="bg-transparent py-1 border-b border-sky-300 focus:border-sky-200
                transition-all focus:scale-105 focus:font-normal" type="text" name="tecnicaO" id="tecnicaO"
               placeholder="0-7645-2641-3"
               maxlength="15" th:field="*{tecnicaObra}" required="true"/>
        <small class="text-bg-white">Digite la tecnica de la Obra </small>
      </div>

      <!--*************************************AGREGAR LISTA ARTISTAS*****************************************--->
      <br>
      <div class="flex flex-col gap-2 text.start">
        <label style="font-size: 20px;font-family:serif"
               class="text-lg font-bold" for="artistas"> Seleccionar Artistas: </label>
        <select class="bg-transparent py-1 border-b border-sky-300 focus: border-sky-200 transition-all
                focus:scale-105 focus:font-normal" id="artistas" name="artistas" th:field="*{artistas}" multiple="multiple">
          <option th:each="artista: ${listaArtista}"
                  th:value="${artista.idArtista}"
                  th:text="${artista.nombreArt} + ' ' + ${artista.apellidoArt}"
                  th:selected="${obraEdit.artistas.contains(artista)}">

          </option>

        </select>
        <small class="text-w-900">Selecciona uno o varios artistas para la obra </small>

      </div>

      <!--***************************************************************************************************--->
      <br>
      <div class="flex flex-col gap-2 text-start">
        <label style="font-size:20px; font-family:serif"
               class="text-lg font-bold" for="foto">Foto de la obra *:</label>
        <input class="bg-transparent py-1 border-b border-sky-300 focus:border-sky-200
                transition-all focus:scale-105 focus:font-normal"
               type="file" name="foto" id="foto" placeholder="Archivo de ...."
               required="true" accept="image/*"/>
        <small class="text-bg-white">Agrega una imagen de la obra  </small>
        <img class="img-thumbnail" id="previewImage" src=""
             alt="Imagen subida"
             th:src="${obraEdit.fotoObra != null? obraEdit.fotoObra: '/images/light.png'}"
             style="max-width: 300px; margin: 20px auto;
                border: 1px solid rgb(15,15,15);">
        <div id="error" style="color: crimson;"></div>
      </div>
      <!--***************************************************************************************************--->

      <br>
      <div class="flex flex-col justify-center items-center mb-4">
        <input class="border border slate-900 py2 px-4
            rounded bg-slate-900 hover:bg-white
            hover:text-slate-900 transition-all active:scale-105
            font-bolt text-lb text-white m-auto"
               type="submit" value="Actualizar Obra "/>
      </div>
    </form>
  </div>
</section>
<footer class="relative" th:replace="~{layout/layout ::footer}"></footer>
</body>
<script>
  const fileInput = document.getElementById('foto');
  const previewImage = document.getElementById('previewImage');
  const errorMessage = document.getElementById('error');
  const maxSizeInMB = 2; // Cambia el límite de tamaño aquí (en MB).

  fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    if (file) {
      // Verificar el tamaño del archivo
      if (file.size > maxSizeInMB * 1024 * 1024) {
        errorMessage.textContent = `El archivo debe ser menor o
                igual a ${maxSizeInMB} MB.`;
        previewImage.style.display = 'none';
        fileInput.value = ''; // Limpiar la selección del archivo inválido
        fileInput.disabled = false; // Habilitar el input nuevamente
      } else {
        errorMessage.textContent = '';
        const reader = new FileReader();

        reader.onload = (e) => {
          previewImage.src = e.target.result;
          previewImage.style.display = 'block';
        };

        reader.readAsDataURL(file);
      }
    }
  });
</script>
</html>
