<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout :: head}"></head>
<body class="bg-zinc-400 text-white flex justify-center items-center h-screen w-screen">
<div th:replace="~{layout/layout :: fondo}"></div>
<header th:replace="~{layout/layout :: header}"></header>
<div th:replace="~{layout/layout :: nuevo}"></div>

<section class="w-screen h-screen flex flex-col justify-center items-center gap-y-4 p-4 text-bg-white pt-32">
    <h1 class="text-3xl font-bold uppercase mb-6" th:text="${title}">Título</h1>

    <div class="w-full h-full flex flex-wrap justify-evenly p-4 gap-4 overflow-y-scroll">

        <div class="flex flex-col gap-4 items-center border rounded-xl bg-slate-200 p-4 w-1/3 h-[320px]
        text-black overflow-y-scroll shadow-lg shadow-slate-900 hover:scale-105 transition-all"
             th:each="obra:${obras}">

            <h1 class="font-bold" th:text="${obra.tituloObra}">Nombre de la obra</h1>

            <img th:src="${obra.fotoObra}" th:alt="${obra.fotoObra}" class="w-1/3 h-auto rounded">

            <div class="flex gap-4">

                <a th:href="@{/detalleObra/{id}(id=${obra.idObra})}" class=" text-white bg-slate-900 rounded-xl p-2
                    hover:bg-white hover:text-slate-900">Ver Más</a>

                <a th:href="@{/editarObra/{id}(id=${obra.idObra})}" class="text-white bg-slate-900 rounded-xl p-2
                    hover:bg-white hover:text-slate-900" sec:authorize="hasAnyRole('ADMINISTRADOR')">Editar</a>
            </div>

            <section class="border flex flex-col rounded-xl p-4 gap-4 w-full">
                <div>
                    <h4 class="font-bold">Descripcion</h4>

                    <p th:text="${obra.descripcionObra}"></p>
                </div>
                <div>
                    <h4 class="font-bold">Fecha de creación</h4>

                    <p th:text="${obra.fechaCreacion}"></p>
                </div>
            </section>
        </div>
    </div>
</section>

</body>
</html>


